:root {
  --akcent-color: #2196f3;
  --second-color: #757575;
  --background: #f5f4fa;
  --white-color: #ffffff;
  --color-text: #212121;
  --accent-btn-color: #188ce8;
  --title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --accent-btn-color: #188ce8;
  --fill-color: #afb1b8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);

  /* other color */
  --header-border-color: #ececec;
  --footer-socials-bg-color: rgba(255, 255, 255, 0.1);
  --project-border-color: #eee;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: #212121;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--accent-btn-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.outline {
  outline: 1px red solid;
}

.bg {
  background-color: green;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.headr-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-text);
  text-decoration: none;
  display: flex;
  margin-right: 94px;
}
.headr-logo:focus,
.headr-logo:hover {
  text-decoration: underline var(--akcent-color);
}
.navigations-list {
  font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
text-align: left;

  color: var(--color-text);
  text-decoration: none;
}
.contact-link {
text-decoration: none;
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;

  color: rgba(255, 255, 255, 0.6);
}

.button-main-flex {
  display: flex;
  justify-content: center;
}

.button-main {
  display: inline-flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background: var(--akcent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}
.button-control:focus,
.button-control:hover {
  color: var(--akcent-color);
}
h2 {
  font-size: 18px;
  line-height: 0.44;
  letter-spacing: 0.06em;
}
.texts {
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--second-color);

}
.text {
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.list-photo {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.navigations-list:hover,
.contact-link:hover,
.navigations-list:focus,
.contact-link:focus,
.contact-link-headr:focus,
.contact-link-headr:hover {
  color: var(--akcent-color);
}
li {
  list-style-type: none;
}
.add {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-top: 20px;
  text-decoration: none;
}
footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.button-cont {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-control:not(:last-child) {
  margin-right: 8px;
}

.btn-control {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
  background-color: var(--background);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-control:hover,
.btn-control:focus{
color: var(--white-color);
background-color: var(--akcent-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
}
.container-main.section {
  padding-top: 0;
}

.work {
  font-size: 14px;
  font-weight: 700;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
}
.logo-footer span,
.headr-logo span {
  color: var(--akcent-color);
}
.list-team {
  background-color: var(--background);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.color-hero {
  background-color: var(--white-color);
}
.headr-logo,
.logo-list {
  cursor: pointer;
}
.work-m {
  margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
  color: var(--color-text);
}
.hero-style {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-family: "Roboto";
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.contact-link-headr {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-decoration: none;
}
.meta-if {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text);
}

.header-flex-container {
  display: flex;
  align-items: center;
}

.navigations-list,
.contact-link-headr {
  display: inline-block;
  padding: 32px 0;
}

.contact-header {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.conteiner-item {
  display: flex;
  align-items: center;
  
}
.list-nav {
  display: flex;
  align-items: center;
}
.contact-header .item:not(:last-child) {
  margin-right: 53px;
}
.list-nav .item:not(:last-child) {
  margin-right: 53px;
}
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  height: 600px;
  background-image: linear-gradient(
    rgba(196,	196,	196, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/im18.jpg);
  background-repeat: no-repeat;
  background-color: #2f303a;
}
.card-set {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.work {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.list-m {
  display: flex;
  flex-basis: calc(100% / 4);
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  justify-content: center;
  gap: 30px;
}

.footer-informations {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
}
.metas{
  display: flex;
  flex-basis: calc(100% / 9);
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  text-align: left;
  cursor: pointer;
  gap: 30px;
  
}
.list-teams{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.struducture{
  padding-top: 94px;
  padding-bottom: 94px;
}
.project-text{
  padding: 20px 24px;
  border: 1px solid #EEEE;
border-radius: 0px 0px 4px 4px;
}
.meta-photo{
  /* margin-bottom: 30px; */
  max-width: 370px;
}
.header{
  border-bottom: 1px solid #EEEE;
}
.logo-footer2, .logo-footer3{
  margin-bottom: 9px;
}
.name-m{
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: var(--white-color);
}
.item-peculiarities{
  max-width: 270px;

}
.container-peculiarities section{
  padding: 94px 0;
}
.main-work{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.contact-link-headr_mail{
  height: 12px;
  width: 16px;
  border-radius: 0px;
  margin-right: 10px;
}
.contact-link-headr_phone{
height: 16px;
width: 10px;
margin-right: 10px;
}
.icon-headr{
max-height: 70px;
max-width: 65px;
}
.icon-headrs{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.socials__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 0.3s ease-in;
  margin-top: 30px;  
}

.socials__item:hover,
.socials__item:focus {
  background-color: var(--accent-color);
}

.socials__link {
  color: tomato;
  transition: color 0.3s ease-in;
}

.socials__item:hover .socials__link,
.socials__item:focus .socials__link {
  color: black;  
}

  .socials__icon{
    width: 20px;
    height: 20px;    
  }

  .logo-s{
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .logo-d{
    max-width: 106px;
    max-height: 60px;
  }
  .logos{
    display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: green;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: all 0.3s ease-in;
  }
.logos:hover,
.logos:focus {
  border-color: red;
  color: tomato;}
  .footer__flex-item{
    display: flex;
    width: 206px;
    height: 80px;
  }
  .footer-work{
    font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
  }
  .socials__list{
    display: flex;
    justify-content: center;
    gap: 10px;
  } 
  .clients__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: all 0.3s ease-in;}